.main {
  background: linear-gradient(to left, #f8fff5 25%, #fff 25%, #fff 75%);
}

.main .container {
  display: flex;
  align-items: stretch;
}

.main-left {
  width: 75%;
  padding-right: 50px;
}

.main-right {
  width: 25%;
  padding-left: 20px;
  padding-top: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #f8fff5;
}

.post .slick-slide {
  margin: 0 5px;
}

.post .slick-list {
  margin: 0 -5px;
}

.post .slick-track {
  padding: 40px 0;
  display: flex !important;
}

.post .slick-track .slick-current {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .2s linear;
}

.post .slick-slide {
  height: inherit !important;
}

.post .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .slick-dots .slick-active {
  border-radius: 50%;
  background-color: #2b7d06;
}

.post .slick-dots .slick-active button {
  border-color: #2b7d06;
}

.post .slick-dots li {
  margin-right: 5px;
  font-size: 0;
  background: none;
  background-image: none;
}

.post .slick-dots li:last-child {
  margin-right: 0;
}

.post .slick-dots li button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: none;
  background: none;
}

.post-item {
  height: 100%;
  width: 250px;
  background: #fff;
  border: 1px solid rgba(41, 5, 5, 0.1);
  border-radius: 16px;
  padding: 5px;
}

.post-item-img {
  width: 100%;
}

.post-item-img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-item-low {
  padding: 12px 10px;
}

.post-item-title {
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
}

.post-item-data {
  display: flex;
  align-items: center;
}

.post-item-data img {
  margin-right: 10px;
}

.post-item-data span {
  padding-right: 5px;
  font-size: 10px;
  font-weight: 300;
  color: #808080;
}

.post-all {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #2b7d06;
  transition: all .2s linear;
}

.post-all-link {
  position: relative;
}

.post-all-link:hover::before,
.post-all-link:hover::after {
  right: -20px;
}

.post-all-link::before {
  content: '';
  position: absolute;
  top: 7.5px;
  right: -14px;
  width: 10px;
  height: 1px;
  background-color: #2b7d06;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  transition: all .2s linear;
}

.post-all-link::after {
  content: '';
  position: absolute;
  top: 13.5px;
  right: -14px;
  width: 10px;
  height: 1px;
  background-color: #2b7d06;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  transition: all .2s linear;
}

.about-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;
}

.about-item {
  border-radius: 12px;
  border: 1px solid rgba(10, 57, 10, 0.25);
  transition: all 2s linear;
}

.about-item:hover {
  border-color: rgba(43, 125, 6, 0.7);
  box-shadow: 0px 16px 35px rgba(10, 57, 10, 0.1);
}

.about-item:last-child {
  margin-right: 0;
}

.about-item-wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-icon {
  margin-bottom: 15px;
}

.about-icon img {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.about-text {
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #000100;
  line-height: 1.5;
}

.stats-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px;
}

.stats-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}

.stats-item-wrap {
  padding: 18px 30px 25px 30px;
}

.stats-item-title {
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.stats-item-data {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.stats-item-data:last-child {
  margin-bottom: 0;
}

.stats-item-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid #b95638;
}

.stats-item-circle-num {
  font-size: 16px;
  font-weight: 700;
}

.stats-item-num {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #171725;
}

.stats-item-descr {
  font-size: 12px;
  font-weight: 400;
  color: #696974;
}

.news {
  margin-top: 15px;
}

.news-item {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 13px;
}

.news-item-wrap {
  padding: 10px 5px 10px 10px;
  display: flex;
  align-items: stretch;
}

.news-item-img {
  width: 32%;
  margin-right: 15px;
}

.news-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.news-item-content span {
  display: inline;
}

.news-item-title {
  width: 100%;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

.news-item-date {
  font-size: 10px;
}

.news-item-drop {
  padding: 0 3px;
}

.news-all {
  margin-top: 25px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.news-all-link {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #2b7d06;
  transition: all .2s linear;
}

.news-all-link:hover::before,
.news-all-link:hover::after {
  right: -20px;
}

.news-all-link::before {
  content: '';
  position: absolute;
  top: 7.5px;
  right: -14px;
  width: 10px;
  height: 1px;
  background-color: #2b7d06;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  transition: all .2s linear;
}

.news-all-link::after {
  content: '';
  position: absolute;
  top: 13.5px;
  right: -14px;
  width: 10px;
  height: 1px;
  background-color: #2b7d06;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  transition: all .2s linear;
}

.partners {
  margin-left: 35px;
}

.partners-wrap {
  margin-top: 50px;
}

.partners .slick-track {
  display: flex !important;
  align-items: center;
}

.partners .slick-track .slick-current {
  opacity: 1;
}

.partners .slick-slide {
  opacity: 0.3;
  transition: all .2s linear;
}

.main {
  background: linear-gradient(to left, #f8fff5 25%, #fff 25%, #fff 75%);
}

.main .container {
  display: flex;
  align-items: stretch;
}

.main-left {
  width: 75%;
  padding-right: 50px;
}

.main-right {
  width: 25%;
  padding-left: 20px;
  padding-top: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #f8fff5;
}

.main {
  background: linear-gradient(to left, #f8fff5 25%, #fff 25%, #fff 75%);
}

.main .container {
  display: flex;
  align-items: stretch;
}

.main-left {
  width: 75%;
  padding-right: 50px;
}

.main-right {
  width: 25%;
  padding-left: 20px;
  padding-top: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #f8fff5;
}

.footer {
  background-color: #2b7d06;
}

.footer-wrap {
  padding-bottom: 100px;
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}

.footer-col-l {
  flex-basis: 25%;
}

.footer-col-m {
  flex-basis: 20%;
}

.footer-col-s {
  flex-basis: 15%;
}

.footer-col-title {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.footer-col-link {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}

.footer-col-link::first-letter {
  text-transform: capitalize;
}

.footer-logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-logo span {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.footer-descr {
  padding-right: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
}

.footer-social {
  padding-bottom: 120px;
  display: flex;
  align-items: center;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 18px;
  background-color: white;
  border-radius: 50%;
  transition: all .25s linear;
}

.footer-social a:hover {
  background-color: #2b7d06;
}

.footer-social a:hover svg {
  fill: #fff;
}

.footer-social a svg {
  fill: #2b7d06;
  transition: all .3s linear;
}

.footer-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  grid-gap: 3px;
}

.footer-gallery-item {
  width: 70px;
  height: 70px;
}

.footer-gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-low {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 4px;
}

.mask {
  z-index: 997;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(43, 125, 6, 0.9);
  transition: all .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mask.active {
  display: block;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #2b7d06;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all .2s linear;
}

.to-top::before,
.to-top::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000100;
}

.to-top::before {
  top: 17px;
  left: 16px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.to-top::after {
  top: 17px;
  left: 6px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.show-tt {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.burger {
  position: relative;
  z-index: 999;
}

.burger-icon {
  display: flex;
  justify-content: flex-start;
}

.burger-icon-wrap {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}

.burger-icon-item {
  width: 30px;
  height: 1px;
  background-color: #000100;
}

.burger-icon-item-1,
.burger-icon-item-3 {
  transition: all .1s linear;
}

.burger.active .burger-icon-item-1 {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.burger.active .burger-icon-item-2 {
  display: none;
}

.burger.active .burger-icon-item-3 {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.nav-mob {
  padding-top: 50px;
  border-top: 4px solid #2b7d06;
  position: absolute;
  z-index: 998;
  width: 100vw;
  max-height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 20vw;
  left: 0;
  overflow-y: scroll;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-mob.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mob-list {
  display: block;
}

.nav-mob-item {
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.nav-mob-link {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #2b7d06;
  text-transform: uppercase;
}

.nav-mob-sub-list {
  margin-top: 20px;
  padding-left: 20px;
  display: none;
}

.nav-mob-sub-item {
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.nav-mob-sub-item:last-child {
  border-bottom: 0;
}

.nav-mob-sub-link {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #2b7d06;
  text-transform: uppercase;
}

.nav-mob-inner {
  position: relative;
  padding-right: 10px;
}

.nav-mob-inner-list {
  margin-top: 20px;
  padding-left: 20px;
  display: none;
}

.nav-mob-inner-item {
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.nav-mob-inner-item:last-child {
  border-bottom: 0;
}

.nav-mob-inner-link {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #2b7d06;
}

.nav-mob-inner-link::first-letter {
  text-transform: capitalize;
}

.section-title-mb {
  margin-bottom: 50px;
}

.page{
  min-height: 100vh;
  padding: 0 0 100px;
}

.page-hero{
  position: relative;
  margin-bottom: 100px;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  /* background-image: url('../images/bg-1.webp'); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.page-hero span{
  z-index: 9;
}

.page-hero::after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: 
  rgba(0, 0, 0, .7);
}

/* .page-hero img{
  width: 100%;

  object-fit: cover;
} */

.page-hero span{
  width: 80%;
}

.page-video{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.page-content h2{
  margin-bottom: 20px;

  color: #2b7d06;
}

.page-content p{
  margin-bottom: 15px;

  line-height: 1.5;
  color: #000100;
}

.people{
  padding-top: 50px;
}

.people-title{
  margin-bottom: 50px;

  font-size: 30px;
  font-weight: 600;
  color: #000100;
}

.people-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.people-item-news{
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, .16);
}

.people-item-news:last-child{
  border-bottom: 0;
}

.people-img{
  margin-right: 40px;
  flex-shrink: 0;
  
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.people-img img{
  width: 250px;
  height: auto;

  object-fit: cover;
  flex-shrink: 0;
}

.people-top{
  margin-bottom: 10px;
}

.people-name{
  margin-bottom: 3px;

  font-size: 25px;
  font-weight: 600;
  color: #000100;
}

.people-link{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  font-size: 17px;
  font-weight: 600;
  color: #2b7d06;
}

.people-link img{
  margin-right: 10px;
}

.people-content-col{
  margin-bottom: 20px;
}

.people-content-col:last-child{
  margin-bottom: 0;
}

.people-low div span{
  margin-bottom: 10px;
  /* display: block; */
  cursor: pointer;

  color: #2b7d06;
  font-weight: 600;
  text-decoration: underline;
}

.people-hidden{
  display: none;

  line-height: 1.5;
}

.work{
  padding: 50px 0 100px;
}

.work-title{
  margin-bottom: 50px;

  font-size: 30px;
  font-weight: 600;
  color: #000100;
  text-transform: capitalize;
}

.work-item{
  margin-bottom: 30px;
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);;
}

.work-name{
  margin-bottom: 10px;

  font-size: 22px;
  font-weight: 600;
  color: #2b7d06;
  text-transform: uppercase;
}

.work-descr{

  line-height: 1.5;
}

.work-low{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-link{
  display: flex;
  align-items: center;
}

.work-link img{
  margin-right: 10px;
}

a.work-link{
  padding: 5px 10px;

  font-size: 18px;
  color: #2b7d06;

  border: 1px solid rgba(0, 0, 0, 0.16);

  transition: all .2s linear;
}

a.work-link:hover{

  color: #fff;

  background-color: #2b7d06;
  border-color: #2b7d06;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    flex-basis: 33.3333%;
  }

  .nav {
    display: none;
  }

  .header-top {
    padding: 7px 0 10px;
  }

  .header-top-left {
    display: none;
  }

  .header-top-center,
  .header-top-right {
    flex-basis: 33.3333%;
  }

  .header-top-center {
    justify-content: center;
  }

  .header-top-center-wrap img {
    max-width: 80%;
    flex-shrink: 0;
  }

  .header-top-span {
    display: none;
  }

  .header-top-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .section-pt100 {
    padding-top: 60px;
  }

  .section-pt120 {
    padding-top: 80px;
  }

  .section-pb120 {
    padding-bottom: 80px;
  }

  .about-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-group {
    grid-template-columns: repeat(1, 0.7fr);
  }

  .stats-item-circle {
    flex-shrink: 0;
  }

  .footer-wrap {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px 0;
  }

  .footer-social {
    padding-bottom: 0;
  }
}

@media (max-width: 700px) {
  .header-top-center-wrap span {
    display: none;
  }

  .header-top-link {
    display: none;
  }

  .header-social {
    display: block !important;
  }

  .main {
    position: relative;
    overflow: hidden;
  }

  .main .container {
    display: block;
  }

  .main-right {
    width: 100%;
    padding: 0;
    padding-bottom: 80px;
    border: 0;
  }

  .main-left {
    width: 100%;
    padding-right: 0;
  }

  .post-all-link {
    padding-right: 30px;
  }

  .post-all-link::before,
  .post-all-link::after {
    right: 10px;
  }

  .post-all-link:hover::before,
  .post-all-link:hover::after {
    right: 0px;
  }

  .section-pt100 {
    padding-top: 40px;
  }

  .section-pt120 {
    padding-top: 60px;
  }

  .section-pb120 {
    padding-bottom: 60px;
  }

  .section-title {
    padding-left: 25px;
    font-size: 22px;
  }

  .section-circle {
    position: relative;
  }

  .section-circle::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #2b7d06;
    border-radius: 50%;
  }

  .section-circle::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }

  .section-title-s {
    padding-left: 25px;
    font-size: 22px;
  }

  .section-circle-s {
    position: relative;
  }

  .section-circle-s::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #2b7d06;
    border-radius: 50%;
  }

  .section-circle-s::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }

  .about-group {
    display: block;
  }

  .about-item {
    margin-bottom: 20px;
  }

  .stats-group {
    display: block;
  }

  .footer-wrap {
    display: block;
  }

  .footer-wrap div {
    margin-bottom: 40px;
  }

  .people-title{
    margin-bottom: 30px;
  }

  .people-item{
    flex-direction: column;
    align-items: center;
  }

  .people-img{
    margin-bottom: 10px;
  }

  .people-descr{
    text-align: justify;
  }

  .people-hidden{

    text-align: justify;
  }
}